@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");

/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
  color: #404040;
  font-family: "Comfortaa", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  background-color: #e6f1fa;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Patua One", serif;
  letter-spacing: 2px;
}

table,
th,
td {
  border: 1px solid black;
  /* border-radius: 15px; */
  border-collapse: collapse;
  padding: 15px;
  margin: 10px;
}

.completedRequest {
  background-color: #bee9e8;
}

.serviceHeader {
  text-align: center;
  font-size: x-large;
  margin: 2rem;
}
